header{
    padding: 50px 10px 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 70px;  
    flex-wrap: wrap;  
    
}
.cover-photo{
    background-image:url("galaxy.png");
    background-size: cover;

}

nav{
    display:flex ;
    justify-content: flex-end;
    font-size: 50px;

}
nav ul{
    margin-bottom: 0px;
    display: flex;
    color: gold;
    flex-wrap: wrap;    
}

nav li{
    margin-left: 10px;
    margin-right: 5px;
    display: flex;
    font-size: 35px;   
}

.float_right{
    float: right;
}
.display_top{
    position: relative;
    top: -50px;
    margin-top: 0px;
    display: flex;
    align-content: flex-start;
    color: gold;
    
}