header{
    padding: 50px 10px 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 70px;  
    flex-wrap: wrap; 
    
}
.cover-photo{
    background-image:url("galaxy.png");
    background-size:cover;
    background-repeat: no-repeat;

}

nav{
    display:flex ;
    justify-content: flex-end;
    font-size: 50px;

}
nav ul{
    margin-bottom: 0px;
    display: flex;
    color: gold;
    flex-wrap: wrap;    
}

nav li{
    margin-left: 10px;
    margin-right: 5px;
    display: flex;
    font-size: 35px;   
}

.profile_img{
    
    padding-top:  15px;
    background: solid;
    background: cover;
    background-color: darkred
}

.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:20%;
    
}


 .lines {                                /*for getting the border to display properly on the flex box*/
    display: flex; 
    flex-direction: column;
    justify-content:space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: 8px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 15px;
    border-left: solid;
    border-width: 2px;
    line-height: 1.5;
    font-size: larger;
}
.container {
    margin-top: 100px;
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    font-size: larger;
}

.container ul{
    margin-top: 1%;
    margin-left: 1.2%;
    line-height: 1.5;
    
}

.container h2{
    font-size: 200%;
    margin: 20px
}

.float_right{
    float: right;
}
.display_top{
    position: relative;
    top: -50px;
    margin-top: 0px;
    display: flex;
    align-content: flex-start;
    color: gold;
    
}
#code-refactor img {
    min-width: 500px;
    max-width: 100%;
}
.card{
    position: relative;
    padding: 8px;
    margin: 15px;
    background-color: darkblue;       
    
}
.card div{
    position: absolute;
    bottom: 18px;
    background-color: aquamarine;
    border-radius: 0 10px 10px 0;
    
}