header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: darkred;
    font-size: 50px;    
    
}

nav{
    display:flex ;
    justify-content: flex-end;
    font-size: 50px;

}
nav ul{
    margin-bottom: 0px;
    display: flex;
}

nav li{
    margin-left: 30px;
    display: flex;

}

.float_right{
    float: right;
}
.display_top{
    margin-top: 0px;
    display: flex;
    align-content: flex-start;
}